@model List<Event>
<link rel="stylesheet" href="/css/DarkMode.css">

@{
    ViewData["Title"] = "Ticket Purchasing";
}

<h1>@ViewData["Title"]</h1>



@if (Model.Any() )
{
    <table class="table" id="dark-mode">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Category</th>
            <th>Event Date</th>
            <th>Price per Ticket</th>
            <th>Available Tickets</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var anEvent in Model)
        {
            var availableTickets = anEvent.AvailableTickets switch
            {
                0 => "SOLD OUT",
                (< 200) => $"{anEvent.AvailableTickets} | ALMOST GONE!", // removing the "redundant parentheses" will cause the build to fail, so don't do that pls
                _ => $"{anEvent.AvailableTickets}"
            };
            <tr>
                <td>@anEvent.Id</td>
                <td>@anEvent.Title</td>
                <td>@anEvent.Category</td>
                <td>@anEvent.EventDate</td>
                <td>$@anEvent.PricePerTicket</td>
                <td>@availableTickets</td>
                
                @if(availableTickets == "SOLD OUT")
                {
                    <td>
                        <button class="btn btn-secondary" disabled>Sold Out</button>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="purchaseConfirm" asp-route-id="@anEvent.Id" class="btn btn-danger">purchase</a>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No events available.</p>
}