@model List<Assignment01.Models.Event>
@if (Model.Any())   // to determine if there are any projects to display 
{ 

    <table class="table"> 

        <thead> 

        <tr> 

            <th>ID</th> 

            <th>Title</th> 

            <th>Category</th> 

            <th>EventDate</th>
            
            <th>price</th>
            
        </tr> 

        </thead> 

        <tbody> 

        <!-- A foreach loop is used to iterate over each Project in the model and display its properties in the table rows. --> 

        @foreach (var Event in Model) { 
            <tr> 

                <td>@Event.Id</td> 
                <td>@Event.Title</td> 
                <td>@Event.Category</td> 
                <td>@Event.EventDate</td> 
                <td>@Event.PricePerTicket</td>
                
                  
                 
                <td>
                    <a asp-action="Create" asp-route-id="@Event.Id" class="btn btn-info">Update</a>
                    <a asp-action="Delete" asp-route-id="@Event.Id" class="btn btn-danger">Delete</a>
                    <a asp-action="Edit" asp-route-id="@Event.Id" class="btn btn-danger">Delete</a>
                </td>
                 
            
                <!-- Render other project properties as needed --> 
            </tr> 
        } 

        </tbody> 

    </table> 

} 

else { 
    <p>No projects available.</p> 
} 
